USE [master]
GO
/****** Object:  Database [nguyenhoangduy]    Script Date: 05/03/2026 09:31:52 AM ******/
CREATE DATABASE [nguyenhoangduy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'nguyenhoangduy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\nguyenhoangduy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'nguyenhoangduy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\nguyenhoangduy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nguyenhoangduy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nguyenhoangduy]
GO
/****** Object:  User [doancoso]    Script Date: 05/03/2026 09:31:52 AM ******/
CREATE USER [doancoso] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [doancoso]
GO
/****** Object:  Table [dbo].[Invoince]    Script Date: 05/03/2026 09:31:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoince](
	[invoinceNo] [varchar](50) NOT NULL,
	[dateOrder] [datetime] NULL,
	[status] [bit] NULL,
	[deliveryStatus] [bit] NULL,
	[deliveryDate] [datetime] NULL,
	[totalMoney] [int] NOT NULL,
	[userName] [varchar](50) NULL,
	[customerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[invoinceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vDoanhThuTheoNgay]    Script Date: 05/03/2026 09:31:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vDoanhThuTheoNgay] AS
SELECT ISNULL(CONVERT(VARCHAR(10), dateOrder, 103),-1) AS dateOrder, sum(totalMoney) AS income
FROM dbo.Invoince hd 
GROUP BY CONVERT(VARCHAR(10), dateOrder, 103)
GO
/****** Object:  View [dbo].[vHoaDonTrongNgay]    Script Date: 05/03/2026 09:31:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vHoaDonTrongNgay] AS
select *
from dbo.Invoince
where DATEPART(day,dateOrder) = DATEPART(day,getdate())
GO
/****** Object:  Table [dbo].[Article]    Script Date: 05/03/2026 09:31:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[articleId] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](250) NOT NULL,
	[shortDescription] [nvarchar](2000) NULL,
	[image] [nvarchar](2000) NULL,
	[publicDate] [datetime] NULL,
	[content] [nvarchar](max) NULL,
	[status] [bit] NULL,
	[userName] [varchar](50) NOT NULL,
	[categoryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[articleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 05/03/2026 09:31:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dateContact] [datetime] NULL,
	[name] [nvarchar](250) NULL,
	[email] [varchar](50) NOT NULL,
	[message] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 05/03/2026 09:31:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](250) NULL,
	[lastName] [nvarchar](250) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoinceDetail]    Script Date: 05/03/2026 09:31:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoinceDetail](
	[invoinceNo] [varchar](50) NOT NULL,
	[productId] [int] NOT NULL,
	[quanlityProduct] [int] NULL,
	[unitPrice] [int] NULL,
	[totalPrice] [int] NULL,
	[totalDiscount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[invoinceNo] ASC,
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 05/03/2026 09:31:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[userName] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[firstName] [nvarchar](250) NULL,
	[lastName] [nvarchar](250) NULL,
	[email] [varchar](50) NULL,
	[birthday] [date] NULL,
	[identityNumber] [varchar](20) NULL,
	[phone] [varchar](20) NULL,
	[dateOfJoin] [datetime] NULL,
	[address] [nvarchar](250) NULL,
	[avatar] [nvarchar](2000) NULL,
	[status] [bit] NULL,
	[roleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 05/03/2026 09:31:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](250) NOT NULL,
	[image] [varchar](2000) NULL,
	[price] [int] NULL,
	[discount] [int] NULL,
	[description] [nvarchar](2000) NULL,
	[quanlity] [int] NULL,
	[brand] [nvarchar](250) NULL,
	[dateCreate] [datetime] NULL,
	[status] [bit] NULL,
	[categoryId] [int] NOT NULL,
	[userName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 05/03/2026 09:31:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 05/03/2026 09:31:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 05/03/2026 09:31:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dateCreate] [datetime] NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](250) NULL,
	[url] [varchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Article] ON 

INSERT [dbo].[Article] ([articleId], [title], [shortDescription], [image], [publicDate], [content], [status], [userName], [categoryId]) VALUES (1, N'laptop new', NULL, N'~/Content/img/blog/hp-240-g8-i5-518v6pa-091221-014746-600x600.jpg', CAST(N'2021-08-15T22:33:25.000' AS DateTime), N'', 1, N'admin', 2)
INSERT [dbo].[Article] ([articleId], [title], [shortDescription], [image], [publicDate], [content], [status], [userName], [categoryId]) VALUES (2, N'laptop 2026', NULL, N'~/Content/img/blog/aptophpzbookstudio15g830n01av2.jpg', CAST(N'2021-08-15T22:33:25.000' AS DateTime), N'', 1, N'admin', 7)
INSERT [dbo].[Article] ([articleId], [title], [shortDescription], [image], [publicDate], [content], [status], [userName], [categoryId]) VALUES (4, N'laptop nổi bật', NULL, N'~/Content/img/blog/hp-240-g8-i5-518v6pa-091221-014746-600x600.jpg', CAST(N'2021-08-15T22:33:25.000' AS DateTime), N'', 1, N'admin', 6)
SET IDENTITY_INSERT [dbo].[Article] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([id], [dateContact], [name], [email], [message]) VALUES (4, CAST(N'2023-06-10T11:39:59.177' AS DateTime), N'xvc', N'abcd@gmail.com', N'Shop có hỗ trợ trả góp qua thẻ tín dụng khi mua MacBook không?')
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customerId], [firstName], [lastName], [email], [phone], [address]) VALUES (1, N'Nguyễn Văn', N'Minh', N'minh@gmail.com', N'0943658092', N'Bưu điện khu công nghiệp Biên Hòa 2 Phường An Bình Thành Phố Biên Hòa Đồng Nai')
INSERT [dbo].[Customer] ([customerId], [firstName], [lastName], [email], [phone], [address]) VALUES (3, N'Trần Trung', N'Hiếu', N'hieu@gmail.com', N'012321413123', N'78 Trần Hưng Đạo, Hải Cảng, Thành phố Qui Nhơn, Bình Định')
INSERT [dbo].[Customer] ([customerId], [firstName], [lastName], [email], [phone], [address]) VALUES (4, N'Trần Minh', N'Tiến', N'tien@gmail.com', N'012321413123', N'201B Nguyễn Chí Thanh, Phường 12, Quận 5, Thành phố Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
INSERT [dbo].[Invoince] ([invoinceNo], [dateOrder], [status], [deliveryStatus], [deliveryDate], [totalMoney], [userName], [customerId]) VALUES (N'HD04182026_01649', CAST(N'2026-04-18T12:16:49.150' AS DateTime), 1, 1, CAST(N'2026-04-18T12:17:25.953' AS DateTime), 44100000, N'NguyenThanhHieu', NULL)
INSERT [dbo].[Invoince] ([invoinceNo], [dateOrder], [status], [deliveryStatus], [deliveryDate], [totalMoney], [userName], [customerId]) VALUES (N'HD05022026_2339', CAST(N'2026-05-02T21:23:39.427' AS DateTime), 1, 0, NULL, 41200000, N'NguyenHoangDuy', NULL)
GO
INSERT [dbo].[InvoinceDetail] ([invoinceNo], [productId], [quanlityProduct], [unitPrice], [totalPrice], [totalDiscount]) VALUES (N'HD04182026_01649', 11, 2, 24500000, 44100000, 4900000)
INSERT [dbo].[InvoinceDetail] ([invoinceNo], [productId], [quanlityProduct], [unitPrice], [totalPrice], [totalDiscount]) VALUES (N'HD05022026_2339', 15, 1, 31000000, 21700000, 9300000)
INSERT [dbo].[InvoinceDetail] ([invoinceNo], [productId], [quanlityProduct], [unitPrice], [totalPrice], [totalDiscount]) VALUES (N'HD05022026_2339', 21, 1, 19500000, 19500000, 0)
GO
INSERT [dbo].[Member] ([userName], [password], [firstName], [lastName], [email], [birthday], [identityNumber], [phone], [dateOfJoin], [address], [avatar], [status], [roleId]) VALUES (N'admin', N'67cfd2f0ce76fb868c14815b79a697d5', N'NguyenHoang', N'Duy', N'knguyn16@gmail.com', CAST(N'2001-12-08' AS Date), N'215516721', N'0706437167', CAST(N'2021-08-15T22:33:25.000' AS DateTime), N'300A Nguyễn Tất Thành, Phường 13, Quận 4, Tp.HCM', N'~/Content/img/avatar/avatar.jpg', 1, 1)
INSERT [dbo].[Member] ([userName], [password], [firstName], [lastName], [email], [birthday], [identityNumber], [phone], [dateOfJoin], [address], [avatar], [status], [roleId]) VALUES (N'NguyenHoangDuy', N'67cfd2f0ce76fb868c14815b79a697d5', N'NguyenHoangDuy', N'NguyenHoangDuy', N'NguyenHoangDuy@gmail.com', CAST(N'2026-05-02' AS Date), N'0', N'0987654322', CAST(N'2026-05-02T21:15:40.547' AS DateTime), N'TV', N'~/Content/img/avatar/avatar.jpg', 1, 3)
INSERT [dbo].[Member] ([userName], [password], [firstName], [lastName], [email], [birthday], [identityNumber], [phone], [dateOfJoin], [address], [avatar], [status], [roleId]) VALUES (N'NguyenThanhHieu', N'67cfd2f0ce76fb868c14815b79a697d5', N'NguyenHoang', N'Duy', N'NguyenThanhHieu@gmail.com', CAST(N'2026-04-18' AS Date), N'1', N'099999999', CAST(N'2026-04-18T11:37:42.410' AS DateTime), N'TV', N'~/Content/img/avatar/avatar.jpg', 1, 3)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([productId], [productName], [image], [price], [discount], [description], [quanlity], [brand], [dateCreate], [status], [categoryId], [userName]) VALUES (11, N'ASUS ExpertBook B9', N'~/Content/img/product/asus-vivobook-x515ma-n4020-4gb-256gb-win11-br480w-251121-103455-600x600.jpg', 24500000, 10, N'', 50, N'ASUS', CAST(N'2021-08-15T22:33:25.000' AS DateTime), 1, 4, N'admin')
INSERT [dbo].[Product] ([productId], [productName], [image], [price], [discount], [description], [quanlity], [brand], [dateCreate], [status], [categoryId], [userName]) VALUES (12, N'Acer Aspire 5', N'~/Content/img/product/photo-1.png', 17500000, 0, N'', 50, N'Acer', CAST(N'2021-08-15T22:33:25.000' AS DateTime), 1, 4, N'admin')
INSERT [dbo].[Product] ([productId], [productName], [image], [price], [discount], [description], [quanlity], [brand], [dateCreate], [status], [categoryId], [userName]) VALUES (13, N'HP EliteBook 840', N'~/Content/img/product/hp-240-g8-i5-518v6pa-091221-014746-600x600.jpg', 22000000, 0, N'', 50, N'HP', CAST(N'2021-08-15T22:33:25.000' AS DateTime), 1, 4, N'admin')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([categoryId], [categoryName]) VALUES (1, N'Laptop Gaming')
INSERT [dbo].[ProductCategory] ([categoryId], [categoryName]) VALUES (2, N'Laptop Văn Phòng')
INSERT [dbo].[ProductCategory] ([categoryId], [categoryName]) VALUES (3, N'Laptop Đồ Họa - Kỹ Thuật')
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (1, N'Manager')
INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (2, N'Employee')
INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
ALTER TABLE [dbo].[Article] ADD  DEFAULT (getdate()) FOR [publicDate]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT (getdate()) FOR [dateContact]
GO
ALTER TABLE [dbo].[Invoince] ADD  DEFAULT (getdate()) FOR [dateOrder]
GO
ALTER TABLE [dbo].[InvoinceDetail] ADD  DEFAULT ((0)) FOR [quanlityProduct]
GO
ALTER TABLE [dbo].[InvoinceDetail] ADD  DEFAULT ((0)) FOR [totalPrice]
GO
ALTER TABLE [dbo].[InvoinceDetail] ADD  DEFAULT ((0)) FOR [totalDiscount]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (getdate()) FOR [dateOfJoin]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT ('avatar.jpg') FOR [avatar]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [quanlity]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ('No brand') FOR [brand]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [dateCreate]
GO
ALTER TABLE [dbo].[Slide] ADD  DEFAULT (getdate()) FOR [dateCreate]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_POST_CATEGORY] FOREIGN KEY([categoryId])
REFERENCES [dbo].[ProductCategory] ([categoryId])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_POST_CATEGORY]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_POST_MEMBER] FOREIGN KEY([userName])
REFERENCES [dbo].[Member] ([userName])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_POST_MEMBER]
GO
ALTER TABLE [dbo].[Invoince]  WITH CHECK ADD  CONSTRAINT [FK_INVOINCE_CUSTOMER] FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([customerId])
GO
ALTER TABLE [dbo].[Invoince] CHECK CONSTRAINT [FK_INVOINCE_CUSTOMER]
GO
ALTER TABLE [dbo].[Invoince]  WITH CHECK ADD  CONSTRAINT [FK_INVOINCE_MEMBER] FOREIGN KEY([userName])
REFERENCES [dbo].[Member] ([userName])
GO
ALTER TABLE [dbo].[Invoince] CHECK CONSTRAINT [FK_INVOINCE_MEMBER]
GO
ALTER TABLE [dbo].[InvoinceDetail]  WITH CHECK ADD  CONSTRAINT [FK_INVOINCEDETAIL_INVOINCE] FOREIGN KEY([invoinceNo])
REFERENCES [dbo].[Invoince] ([invoinceNo])
GO
ALTER TABLE [dbo].[InvoinceDetail] CHECK CONSTRAINT [FK_INVOINCEDETAIL_INVOINCE]
GO
ALTER TABLE [dbo].[InvoinceDetail]  WITH CHECK ADD  CONSTRAINT [FK_INVOINCEDETAIL_PRODUCT] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[InvoinceDetail] CHECK CONSTRAINT [FK_INVOINCEDETAIL_PRODUCT]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_ROLE] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([roleId])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_MEMBER_ROLE]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY] FOREIGN KEY([categoryId])
REFERENCES [dbo].[ProductCategory] ([categoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_MEMBER] FOREIGN KEY([userName])
REFERENCES [dbo].[Member] ([userName])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_PRODUCT_MEMBER]
GO
USE [master]
GO
